# Python & Django #
backend/data/
backend/static/
backend/backend/static/
backend/apps/**/migrations/**
backend/apps/!**/migrations
backend/apps/!**/migrations/__init__.py
**/migrations/**
!**/migrations
!**/migrations/__init__.py
**/.DS_Store
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
/migrations/
!/migrations
!/migrations/__init__.py
*.bak
*.py[cod] 
*$py.class 
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version
celerybeat-schedule.*
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints
.sage.py
/site
.mypy_cache/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# Django media files
/media

# React #
/node_modules
/.pnp
.pnp.js
/coverage
/build
*.sass-cache

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
.history
.project
.classpath
.c9/
*.launch
.settings/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs and databases
*.log
*.sql
*.sqlite
*.sqlite3

# Environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.gz

# Dependency directories
/node_modules/
/jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
*.swp
*.swo

# Gradle
.gradle/
